table td {
	position: relative;
}

table td input {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	border: none;
	padding: 10px;
	box-sizing: border-box;
}

#upload {
	opacity: 0;
}

#upload-label {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
}

.image-area {
	border: 2px dashed rgba(0, 0, 0, 0.2);
	padding: 1rem;
	position: relative;
}

.image-area::before {
	content: 'Uploaded image result';
	color: gray;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
	z-index: 1;
}

.image-area img {
	z-index: 2;
	position: relative;
}

#submitBtn {
	margin-bottom: 120px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
